<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keven.campus.mapper.MessageMapper">

    <resultMap id="BaseResultMap" type="com.keven.campus.entity.Message">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="fromId" column="from_id" jdbcType="BIGINT"/>
        <result property="toId" column="to_id" jdbcType="BIGINT"/>
        <result property="conversationId" column="conversation_id" jdbcType="VARCHAR"/>
        <result property="msgContent" column="msg_content" jdbcType="VARCHAR"/>
        <result property="msgStatus" column="msg_status" jdbcType="INTEGER"/>
        <result property="fileId" column="file_id" jdbcType="BIGINT"/>
        <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,from_id,to_id,
        conversation_id,msg_content,msg_status,
        file_id,created_time
    </sql>
</mapper>
