<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.keven.campus.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.keven.campus.entity.User">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="nickname" column="nickName" jdbcType="VARCHAR"/>
        <result property="city" column="city" jdbcType="INTEGER"/>
        <result property="avatarurl" column="avatarUrl" jdbcType="VARCHAR"/>
        <result property="province" column="province" jdbcType="VARCHAR"/>
        <result property="gender" column="gender" jdbcType="INTEGER"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="type" column="type" jdbcType="INTEGER"/>
        <result property="createdTime" column="created_time" jdbcType="TIMESTAMP"/>
        <result property="modifyTime" column="modify_time" jdbcType="TIMESTAMP"/>
        <result property="openId" column="open_id" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,nickName,city,
        avatarUrl,province,gender,
        phone,type,created_time,
        modify_time,open_id
    </sql>
</mapper>
